@model IEnumerable<MessangerChat.Models.Entity.Message>

@{
    ViewBag.Title = "Startchat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap.min.css");
<style>
    .chat {
        margin-top: auto;
        margin-bottom: auto;
    }

    .card {
        height: 500px;
        border-radius: 15px !important;
        background-color: rgba(0,0,0,0.4) !important;
    }

    .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }

    .msg_card_body {
        overflow-wrap: break-word
        /*overflow-y: auto;*/
    }

    .card-header {
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }

    .card-footer {
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }

    .container {
        align-content: center;
    }

    .search {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
    }

        .search:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .type_msg {
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        height: 60% !important;
        overflow-y: auto;
        /*width: 70%;*/
    }

        .type_msg:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .attach_btn {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .send_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .search_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .contacts {
        list-style: none;
        padding: 0;
    }

        .contacts li {
            width: 100% !important;
            padding: 5px 10px;
            margin-bottom: 15px !important;
        }

    .active {
        background-color: rgba(0,0,0,0.3);
    }

    .user_img {
        height: 70px;
        width: 70px;
        border: 1.5px solid #f5f6fa;
    }

    .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;
    }

    .img_cont {
        position: relative;
        height: 70px;
        width: 70px;
    }

    .img_cont_msg {
        height: 40px;
        width: 40px;
    }

    .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border: 1.5px solid white;
    }

    .offline {
        background-color: #c23616 !important;
    }

    .user_info {
        margin-top: auto;
        margin-bottom: 20%;
        margin-left: 1%;
    }

        .user_info span {
            font-size: 20px;
            color: white;
        }

        .user_info p {
            font-size: 10px;
            color: rgba(255,255,255,0.6);
        }

    .video_cam {
        margin-left: 65%;
        margin-top: -32%;
    }

        .video_cam span {
            color: white;
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
        }

    .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: #82ccdd;
        padding: 10px;
        position: relative;
    }

    .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        border-radius: 25px;
        background-color: #78e08f;
        padding: 10px;
        position: relative;
    }

    .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
        padding-left: 10%;
    }

    .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
    }

    .msg_head {
        position: relative;
        /*overflow-x: hidden;*/
    }

    #action_menu_btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .action_menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
    }

        .action_menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .action_menu ul li {
                width: 100%;
                padding: 10px 15px;
                margin-bottom: 5px;
            }

                .action_menu ul li i {
                    padding-right: 10px;
                }

                .action_menu ul li:hover {
                    cursor: pointer;
                    background-color: rgba(0,0,0,0.2);
                }
</style>
<div class="col-md-8 col-xl-6 chat" style="height:100%;width:60%;margin-left:25%">
    <div class="card" style="overflow-x:hidden">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="@Url.Content(ViewBag.img)" class="rounded-circle user_img" style="border-radius:50%" />
                    @if (ViewBag.isOn !=null)
                    {
                        <span class="online_icon"></span>
                    }
                    else
                    {
                        <span class="offline"></span>
                    }

                </div>
                <div class="user_info">
                    <span>@Model.Where(a => a.Reciever.Id == ViewBag.recieverId).Select(p => p.Reciever.UserName).FirstOrDefault()</span>
                </div>
                <div class="video_cam">
                    <span><i class="glyphicon glyphicon-facetime-video"></i></span>
                    <span><i class="glyphicon glyphicon-earphone"></i></span>
                </div>
            </div>
            <span id="action_menu_btn"><i class="glyphicon glyphicon-list"></i></span>
            <div class="action_menu" >
                <ul>
                    <li><i class="glyphicon glyphicon-user"></i> View profile</li>
                    <li><i class="glyphicon glyphicon-star"></i> Add to close friends</li>
                    <li><i class="glyphicon glyphicon-education"></i> Add to group</li>
                    <li><i class="glyphicon glyphicon-ban-circle"></i> Block</li>
                </ul>
            </div>
        </div>
        <div class="card-body msg_card_body" id="m">
            @foreach (var item in Model)
            {
                if(item.Sender.UserName == Context.User.Identity.Name)
                {
                    <div id="newme">
                        <br />
                        @if(item.read == 0)
                        {
                            
                            <div class="d-flex justify-content-start mb-4" id="s">
                                <div class="img_cont_msg">
                                    <img src="@Url.Content(item.Sender.Image)" class="rounded-circle user_img_msg" style="border-radius:50%">
                                </div>
                                <div class="msg_cotainer" style="font-weight:bold">
                                    @item.Content
                                    <span><img style="width:5%;border-radius:50%" src="~/Layoutresources/notdelieverd.png" /> </span>
                                    <span class="msg_time">@item.Date</span>
                                </div>
                            </div>
                        }

                        else if (item.read == 1)
                        {

                            <div class="d-flex justify-content-start mb-4" id="s">
                                <div class="img_cont_msg">
                                    <img src="@Url.Content(item.Sender.Image)" class="rounded-circle user_img_msg" style="border-radius:50%">
                                </div>
                                <div class="msg_cotainer">
                                    @item.Content
                                    <span><img style="width:5%;border-radius:50%" src="~/Layoutresources/delievered.png" /> </span>
                                    <span class="msg_time">@item.Date</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-start mb-4" id="s">
                                <div class="img_cont_msg">
                                    <img src="@Url.Content(item.Sender.Image)" class="rounded-circle user_img_msg" style="border-radius:50%">
                                </div>
                                <div class="msg_cotainer">
                                    @item.Content
                                    <span><img style="width:5%;border-radius:50%" src="~/Layoutresources/whatsapp-double-check-design_23-2147918678.jpg" /> </span>
                                    <span class="msg_time">@item.Date</span>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <br />
                    <div id="newhim">
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                @item.Content
                                <span class="msg_time_send" style="margin-right:12%">@item.Date</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="@Url.Content(item.Sender.Image)" class="rounded-circle user_img_msg" style="border-radius:50%;margin-left:757%">
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="card-footer" style="width:100%">
            <div class="input-group">
                <span class="input-group-addon attach_btn"><i class="glyphicon glyphicon-paperclip"></i></span>
                <textarea name="" autofocus class="form-control type_msg" id="message" placeholder="Type your message..." style="padding-left:0%;padding-right:0%"></textarea>
                @*<span style="padding-left:0%" class="input-group-addon send_btn"><i class="glyphicon glyphicon-paperclip"></i></span>*@
                <span onclick="send()" class="input-group-addon send_btn"><i class="glyphicon glyphicon-send"></i></span>
            </div>
        </div>
    </div>
</div>

@section scripts   {
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script>
        var RId = "@ViewBag.recieverId";
        var prox;
        $(function ()
        {
            var con = $.hubConnection();
            prox = con.createHubProxy("messengerHub");
            con.start().done(function () { console.log("connection Done Succefuly") }())
            @*$("#talk").on("click", function ()
            {
                prox.invoke("senddata", $('#message').val(), RId);
                document.getElementById('message').value = "";
                @*var msg = $('#message').val();
                $.ajax({
                    type: 'Get',
                    success: function () {
                        prox.invoke("senddata", $('#message').val(), RId);
                        document.getElementById('message').value = "";
                        var date = new Date();
                        var fulldate = date.getMonth() + 1+'/'+ + date.getDay() +'/'+ date.getFullYear();
                        var hours = date.getHours();
                        var minutes = date.getMinutes();
                        var ampm = hours >= 12 ? 'PM' : 'AM';
                        hours = hours % 12;
                        hours = hours ? hours : 12; // the hour '0' should be '12'
                        minutes = minutes < 10 ? '0' + minutes : minutes;
                        var strTime = hours + ':' + minutes + ':' + date.getSeconds()+' '+ ampm;
                        var d = fulldate + ' ' +strTime;
                        var div = document.createElement('div');
                        var div1 = document.createElement('div');
                        var div2 = document.createElement('div');
                        var span = document.createElement('span');
                        var image = document.createElement('image');
                        div.className = 'd-flex justify-content-end mb-4';
                        div1.className = 'msg_cotainer_send';
                        div2.className = 'img_cont_msg';
                        span.className = "msg_time_send";
                        span.style.marginRight = "12%";
                        span.innerHTML = d;
                        div1.innerHTML = msg;
                        div1.appendChild(span);
                        image.className = "rounded-circle user_img_msg";
                        image.style.borderRight = "50%"
                        div2.appendChild(image);
                        div.appendChild(div1);
                        div.appendChild(div2);
                        if (ViewBag.recieverName == "@Context.User.Identity.Name.ToString()") {
                            var root = document.getElementById("newme");
                            image.src ='@Url.Content(ViewBag.user)';
                            image.style.width = "5%";
                            root.appendChild(div);
                        }
                        else {
                            image.src ='@Url.Content(ViewBag.img)';
                            var root = document.getElementById("newhim");
                            image.style.marginLeft = "1000%"
                            root.appendChild(div);
                        }
                    }
                });
            })*@
            prox.on("newdata", function (name, img, message) {
                console.log(img)
                var date = new Date();
                var fulldate = date.getMonth() + 1 + date.getDay() + date.getFullYear();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                var strTime = hours + ':' + minutes + ':' + date.getSeconds() + ' ' + ampm;
                var d = fulldate + ' ' + strTime;
                var div = document.createElement('div');
                var div1 = document.createElement('div');
                var div2 = document.createElement('div');
                var span = document.createElement('span');
                var image = document.createElement('image');
                div.className = 'd-flex justify-content-end mb-4';
                div1.className = 'msg_cotainer_send';
                div2.className = 'img_cont_msg';
                span.className = "msg_time_send";
                span.style.marginRight = "12%";
                span.textContent(d);
                div1.appendChild(message)
                div1.appendChild(span);
                image.className = "rounded-circle user_img_msg";
                image.style.borderRight = "50%"
                div2.appendChild(image);
                div.appendChild(div1);
                div.appendChild(div2);
                if (name == "@Context.User.Identity.Name.ToString()")
                {
                    image.src = '@Url.Content(ViewBag.user)';
                    image.style.width = "5%";                   
                }
                else
                {                   
                    image.src = '@Url.Content(ViewBag.img)';
                    image.style.marginLeft = "757%"
                    
                }
                var root = document.getElementById("m");
                root.append(div);
            })
        });
        function send()
        {
            prox.invoke("senddata", $('#message').val(), RId);
            document.getElementById('message').value = "";
        }
        $('#message').on('keyup paste', function ()
        {
            var $el = $(this),
            offset = $el.innerHeight() - $el.height();
            if ($el.innerHeight < this.scrollHeight)
            {
                $el.height(this.scrollHeight - offset);
            }
            else
            {
                $el.height(1);
                $el.height(this.scrollHeight - offset);

            }
        });
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });
        //$("#message").on('focus', function () {
        //    var p = document.createElement('p');
        //    p.innerText = "x is typing";
        //    $("#s").append(p);
        //})
    </script>
}

